//COLORS

$primary-color: #ffde29;
$secondary-color: #000000;
$tertiary_color: #111111;
$text_grey: #eeeeee;

// COLORS CLASSES
.primary-color{
    color: $primary-color;
};

.secondary-color{
    color: $secondary-color;
};

.tertiary-color{
    color: $tertiary-color;
};

.primary-bg{
    background-color: $primary-color;
};

.secondary-bg{
    background-color: $secondary-color;
};

.tertiary-bg{
    background-color: $tertiary-color;
};

.text-grey{
    color: $text_grey;
}

//COMPONENTS
.card-body{
    background-color: $secondary-color;
}