@import "partials/variables.scss";
@import "partials/colors.scss";
@import "~bootstrap/scss/bootstrap";

// PERSONAL FRAMEWORK
.active{
    background-color: pink;
}

#jumbotron {
    height: 100vh;
    margin-top: 0px;
    background-color: burlywood;
}


@media screen and (max-width: 768px) {
    #jumbotron {
        height: 100%;
    padding-top: 90px;
    padding-bottom: 60px;
    }
  }